# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
# name = Pablo Reszczynski
# email = pablo@me.com
[user]
  name = Pablo Reszczynski
  email = pablore@me.com

[alias]
  cp = cherry-pick
  st = status -s
  cl = clone
  ci = commit
  co = checkout
  cob = checkout -b
  br = branch
  diff = diff --word-diff
  dc = diff --cached
  mg = merge
  mgf = merge --no-ff
  up = pull --rebase --prune
  undo = reset HEAD~1 --mixed
  ammend = commit -a -ammend
  lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
  diffy = difftool --extcmd=\"colordiff -ydw\"
[push]
  default = simple
[diff]
  renames = copies
  mnenomicprefix = true

[merge]
	tool = meld
	conflictstyle = diff3
